html{
    background-image: url(images/So\ u\ wanna\ win\ a\ million\ dollars.png);
}

body{
    background-color: rgba(255, 255, 255, 0.9);
    margin:auto;
    width: 600px;
    text-align: center;
    padding:25px,150px;
    height: 900px;
    
   }


h1{
   font-family: 'Josefin Sans', sans-serif;
   background-color: rgb(60, 60,60);
   color:white;
   letter-spacing: 4px;
   font-style:italic;
   margin: auto;
}

  

p{
    font-family: 'Spicy Rice', cursive;
    text-align: left;
    size: 2px;
   
}

.circle{
                
    height: 150px;


    
}

.score{
 font-size: 20px;
 color: green;
}

.won{
    font-size: 20px;
    color: green;
}
